openapi: 3.0.3
info:
  title: Presence QR API
  description: API for QR-based attendance and telemetry tracking (Accelerometer & GPS).
  version: 1.1.0

servers:
  - url: https://script.google.com/macros/s/AKfycbwRWRN2Nn3vvDzWNO8IYinc449oZcnyCCC3NJmzqTX0gSnOyFpEzo4Giap3nYEwg39M4g/exec
    description: Google Apps Script Production Server
  - url: https://us-central1-your-project-id.cloudfunctions.net/api
    description: Firebase Cloud Functions Server (Example)

paths:
  # ==========================================
  # PRESENCE (QR)
  # ==========================================
  /presence/qr/generate:
    post:
      summary: Generate QR Token
      description: Generates a temporary QR token for attendance.
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [presence/qr/generate]
            default: presence/qr/generate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [course_id, session_id, timestamp]
              properties:
                course_id:
                  type: string
                  example: "CS101"
                session_id:
                  type: string
                  example: "SESS01"
                timestamp:
                  type: string
                  format: date-time
                  example: "2024-03-26T00:00:00Z"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  data:
                    type: object
                    properties:
                      qr_token: { type: string }
                      expires_at: { type: string, format: date-time }

  /presence/checkin:
    post:
      summary: Check In Presence
      description: Submit attendance using a valid QR token.
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [presence/checkin]
            default: presence/checkin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, device_id, qr_token, timestamp]
              properties:
                user_id: { type: string }
                device_id: { type: string }
                qr_token: { type: string }
                timestamp: { type: string, format: date-time }
      responses:
        "200":
          description: Success

  /presence/status:
    get:
      summary: Check Attendance Status
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [presence/status]
            default: presence/status
        - name: user_id
          in: query
          required: true
          schema: { type: string }
        - name: course_id
          in: query
          required: true
          schema: { type: string }
        - name: session_id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Success

  # ==========================================
  # TELEMETRY (ACCELEROMETER)
  # ==========================================
  /telemetry/accel:
    post:
      summary: Post Accelerometer Data
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [telemetry/accel]
            default: telemetry/accel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, samples]
              properties:
                device_id: { type: string }
                ts: { type: string, format: date-time }
                samples:
                  type: array
                  items:
                    type: object
                    properties:
                      t: { type: string, format: date-time }
                      x: { type: number }
                      y: { type: number }
                      z: { type: number }
      responses:
        "200":
          description: Success

  /telemetry/accel/latest:
    get:
      summary: Get Latest Accelerometer Data
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [telemetry/accel/latest]
            default: telemetry/accel/latest
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Success

  # ==========================================
  # TELEMETRY (GPS)
  # ==========================================
  /telemetry/gps:
    post:
      summary: Post GPS Data
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [telemetry/gps]
            default: telemetry/gps
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id, lat, lng]
              properties:
                device_id: { type: string }
                ts: { type: string, format: date-time }
                lat: { type: number }
                lng: { type: number }
                accuracy_m: { type: number }
      responses:
        "200":
          description: Success

  /telemetry/gps/latest:
    get:
      summary: Get Latest GPS Location
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [telemetry/gps/latest]
            default: telemetry/gps/latest
        - name: device_id
          in: query
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Success

  /telemetry/gps/history:
    get:
      summary: Get GPS History
      parameters:
        - name: path
          in: query
          required: true
          schema:
            type: string
            enum: [telemetry/gps/history]
            default: telemetry/gps/history
        - name: device_id
          in: query
          required: true
          schema: { type: string }
        - name: limit
          in: query
          schema: { type: integer, default: 200 }
      responses:
        "200":
          description: Success

  # ==========================================
  # UI PAGES
  # ==========================================
  /?page=scan:
    get:
      summary: Get QR Scanner Page
      parameters:
        - name: page
          in: query
          required: true
          schema:
            type: string
            enum: [scan]
            default: scan
      responses:
        "200":
          description: Returns HTML for scanning